<!DOCTYPE html>
<html>
<head>
  <title>About</title>
  <style type="text/css">
    body {
      margin:40px auto;
      max-width:650px;
      line-height:1.6;
      font-size:18px;
      font-family: helvetica;
      color:#444;
      padding:010px;
      background-color: #FFAD2B;
    }
    
    h1,h2,h3 {
      line-height:1.2
    }
  </style>
 
</head>
<body>
  <h1>About this application...</h1>
  <p>This was a project of <strong><em>Jon Tejada, Jon Harlem</em></strong> and <strong><em>Josh Cantor</em></strong>.</p>
  <h3>Why?</h3>
  <p>
    The goal was to create an appliction that synthesized the client- and server-side development skills we've been building over the past 12 weeks.
  </p>
  <p>
    Conceived as <em>"the space between google and yelp"</em>, <strong>nearmeow.com</strong> allows users to vote on and see the best places, as rated by other users, that are nearby. In other words, it answers the question, <em>"what's the best [insert place] that's near me now?"</em>.
  </p>
  <h3>References</h3>
    <a href="https://github.com/jonharlem/nearmeow">Repository on GitHub</a>

  <h3>The Stack</h3>
    <p>Node.js</p>
    <p>Express.js</p>
    <p>PostgreSQL</p>
    <p>jQuery</p>
    <p>Google Maps API</p>
    <p>Google Places API</p>
</body>
</html>