<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="/category/new">
		Insert New Category:<input type="text" name="newCategory">
		<input type="submit" value="submit new category">
	</form>
	<br>
	<form method="POST" action="/category/today">
		Select Today's Category:<input type="text" name="todaysCategory">
		<input type="submit" value="change today's category">
	</form>
</body>
</html>