<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
          <% if (user) { %>
      <%= user.displayName %>
    <% } %>
    <a href="/auth/instagram/">Login with Instagram</a>
    <a href="/"

  </body>
</html>
