<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <!-- HIDDEN HOW TO SECTION -->
    <div> 
      <section id="how-it-works" >
      <!-- close hidden how to section -->
        <button id="hide">X</button>
      </section>
    </div>

  <div id="homepage" style="height: 100vh" > 
    <header>
      <div id="navbar" class="overlay">
        <div>
          <a  id="nearMeow" href="#">near meow</a>
          <% if (user) { %>
            <%= user %>
          <% } %>
        </div>
        <div>
          <a id="about" href="/about">about</a>
        </div>
      </div>
    </header>
    <!-- CREATE A WRAPPER DIV FOR THe FiRST WINDOW -->
    <div id="landing-wrapper">
      <div id="slogan" class="middle">
          <span>The best </span> 
          <input id="maininput" size="8" value="" type="text">
          <span> near me now.<span>
      </div>
      <div class="middle" >
        <button id="howButton">How It Works</button>
      </div>
    </div>

    <div id="lower-banner">
      <p id="question">My favorite <span>cupcake</span> in <span>San Francisco</span> is <input type="text" name="location">  <button id="voteButton">VOTE</button></p>
    </div>

  </div>

  <!-- MAP VIEW -->
  <div id="map-view">
        
  </div>



<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/js/typed.js"></script>
<script>
  $(function(){
          $("#maininput").typed({
            strings: ["pizza^1000", "cafe^1000", "park^1000", "bike ride^1000", "bar^1000", "hike^1000", "bakery^1000", "cupcake^1000", "pub^1000", "food truck^1000", "dim sum^1000", "sandwich^1000", "museum^1000", "burger^1000", "club^1000", "pho^1000", "burrito^1000", "gym^1000", "karaoke^1000", "sushi^1000"],
            typeSpeed: 200,
            showCursor: true,
            cursorChar: "|",
            loop: true
          });
  });
</script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#how-it-works').attr('data-hidden', true);
    $("#how-it-works").hide();
    $('#map-view').attr('data-hidden', true);
    $("#map-view").hide();
    // $("#map-view").hide();
    $("#howButton").click(function() {
      // $("#landing-wrapper").css({height:150%})
      $("#how-it-works").show(1000);
      $('#how-it-works').attr('data-hidden', false);
    });

   

    $(window).scroll( function(){
      /* Check the location of the element */
        $('#how-it-works').each(function(i){

          var top_of_window = $(window).scrollTop();

          /* If the object is completely visible in the window, fade it in */
          if(top_of_window > 395 && $('#how-it-works').attr('data-hidden')==='false'){
            $(this).hide();
            $(window).scrollTop(0);
            $('#how-it-works').attr('data-hidden', true);
          }

        }); 

      });
    $("#hide").click(function(){
        $("#how-it-works").hide(1000);
    });
    /* Every time the window is scrolled ... */

  })
</script>
  </body>
</html>
