<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div style="margin-top: 0px">
      <div id="navbar" class="overlay">
        <div>
          <a href="#">near meow</a>
          <% if (user) { %>
            <%= user %>
          <% } %>
        </div>
        <div>
          <a href="/about">about</a>
        </div>
      </div>
      <div id="slogan" class="middle">
        <span>The best </span> 
        <input id="maininput" size="8" value="" type="text">
        <span> near me now.<span>
      </div>
<!--       <div id="logo" class="overlay">
        near<br>meow  
      </div> -->
    </div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="/js/typed.js"></script>
<script>
$(function(){
          $("#maininput").typed({
            strings: ["pizza", "cafe", "park", "bike ride", "bar", "hike", "bakery", "cupcake", "pub", "food truck", "dim sum", "sandwich", "museum", "burger", "run", "club", "pho", "burrito", "gym"],
            typeSpeed: 200,
            showCursor: true,
            cursorChar: "|"
          });
      });
</script>
  </body>
</html>
