html, body {
	background-color: #FFAD2B;
 	margin: 0;
 	padding: 0;
 	position:relative;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	min-height: 600px;
}

#homepage {
	/*height: 100vh*/;
}

a {
	color:white;
	font-weight: 400;
	text-decoration: none;
	font-size: 1.25em;
}

#navbar {
	width:100%;
	height: 50px;
	background-color: #FFAD2B;
	display: flex;
	justify-content: space-between;
	align-items:center;
}

#navbar > div {
	padding:0 20px 0 20px;
	color:white;
	font-size:110%;
	font-weight: lighter;
	letter-spacing: 1px;
}

#nearMeow:hover {
	color: #4A4A4A;
}

#about:hover {
	color: #4A4A4A;
}

/*#searchbar {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #F39B6D;
	border-radius: 4px;
	box-shadow: 0 0 100px #b3d1ff;
}*/

#maininput {

	font-size:100%;
	text-align: center;
	background: none;
  margin: 10px;
  color: #4A4A4A;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 3px solid white;
	width: 300px;
}

#maininput:focus {
/*	background: rgba(255,255,255,1.0);
*/	outline: none;
}

#slogan {
	padding: 20px;
	margin-top: 10%;
	font-size: 4em;
	font-weight: 400;
	color: white;
	letter-spacing: 1px;
	text-align: center;
}

#howButton {
	font-size: 1.5em;
	font-weight: 400;
	color: white;
	background-color: #FFD288;
	text-align: center;
	border: none;
	border-radius: 5px;
	width: 180px;
	height: 60px;
	margin-left: 43%;
	margin-right: 50%;
	
}

#howButton:hover {
	/*background-color: #D28F24;*/
	background-color: #4A4A4A;
}

#howButton:focus {
	outline: none;
}

#how-it-works {
	color: #1EAAC5;
	height: 400px;
	background-color: 
}

#hide {
	/*margin-left: 90%;*/
	font-size: 1.4em;
	font-weight: 700;
	color: white;
	border: 0;
	background-color: #FFAD2B;
	position:absolute;
  top:20px;
  right:24px;
}

#hide:focus {
	outline: none;
}

#hide:hover {
	color: #4A4A4A;
}

#lower-banner {
	/*background-color: rgba(10, 10, 10, 0.5);*/
	background-color: #4A4A4A;
	width: 100%;
	margin: none;
	padding: none;
}

#question {
	font-size: 2em;
	color: white;
	text-align: center;
	width: 100%;
}

#voteButton {
	font-size: .8em;
	font-weight: 400;
	color: white;
	background-color: #1EAAC5;
	text-align: center;
	border: none;
	border-radius: 5px;
	width: 150px;
	height: 40px;
	letter-spacing: 2px;
}

#voteButton:hover {
	color: #4A4A4A;
}

#voteButton:focus {
	outline: none;
}

#map-view {
	height: 100vh;
}

/*GOOGLE MAP*/

#map {
height: 800px;
position: fixed;
bottom: 0;
clear: both;
margin-top: 100px;
}
.controls {
  margin-top: 8px;
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

::-webkit-input-placeholder {
	text-align: center;
	font-weight: 300;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
:-moz-placeholder { /* older Firefox*/
	text-align: center;
	font-weight: 300;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
::-moz-placeholder { /* Firefox 19+ */ 
	text-align: center;
	font-weight: 300;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
} 
:-ms-input-placeholder { 
	text-align: center;
	font-weight: 300;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 25px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
  margin-right: 10px;
  height: 40px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
  top:8px;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#howparent {
	/*margin-left:0;*/
	/*margin-right:0;*/
}

.howchild {
	float:left;
	width:20%;
	height:300px;
	text-align:center;
	margin:20px;
	/*border: 1px solid black;*/
}

.howchild:first-child {
	margin-left:200px;
}

.howchild h1 {
	margin-top:0;
	margin-bottom: 0;
	font-size: 300%;
}

.howchild p {
	color:white;
}

.fa {
	margin-top:100px;
}